html,
body {
    box-sizing:border-box;
    height: 100%;
    width: 100%;
    margin:0;
}
*{
    box-sizing: border-box;
    text-align: center;
}
body {
    padding: 10px;

}

.container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.row {
    width:100%;
    margin-bottom: 5px;

}

.row:after {
    content: "";
    display: table;
    clear: both
}

.one-half {

    width: 50%;
    float: left;


}

.one-third {

    width: 33.33%;
    float: left;


}

.one-fourth {

    width: 25%;
    float: left;


}

.one-sixth {

    width: 16%;
    float: left;

}

.one-eight {

    width: 12.5%;
    float: left;


}

@media screen and (min-width: 360px) {
    .fullsize-small {
        float: left;
        width: 100%;
    }
}