.fancy-header {
    color: purple;
    text-align: center
}

body {
    background-image: url(../images/fresh_snow.png);

    font-family: 'Julee', cursive;
}

h2, h3 {
    text-decoration: underline;
    color: darkblue;
}

ul {
    list-style-type: square;
}

td, th {
    padding: 10px;
}

h3:hover {
    background-color: red;
}

header {
    text-align: center;
}

.fixed {
    position: fixed;
    top: 100px;
    right: 100px;
    width: 200px;

}
